@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/family.scss/source/src/family';
@import '../node_modules/normalize.css/normalize.css';

/**
 * Config variables.
 */
@import "config";

/**
 * Breakpoint variables
 */
@import "breakpoints";

@import "base/**/*";
{% if layout == 'grid' %}
@import "layout/grid";
{% else %}
@import "layout/flex";
{% endif %}
@import "components/**/*";
