name: {{ name }}
type: theme
description: {{ description }}
base theme: nitty
core_version_requirement: ^8 || ^9

libraries:
  - {{ machine }}/styles
  {% if script %}
  - {{ machine }}/scripts
  {% endif %}

regions:
  header: 'Header'
  featured: 'Featured'
  breadcrumb: 'Breadcrumb'
  content_top: 'Content Top'
  content: 'Content'
  content_bottom: 'Content Bottom'
  sidebar_first: 'Sidebar first'
  sidebar_second: 'Sidebar second'
  footer_top: 'Footer Top'
  footer_bottom: 'Footer Bottom'
