color.preview:
  js:
    color/preview.js: {}
  css:
    theme:
      color/preview.css: {}
  dependencies:
    - color/drupal.color
styles:
  css:
    theme:
      css/color.css: {}
      css/styles.css: {}
{% if script %}
scripts:
  js:
    js/{{ machine }}.js: {}
  dependencies:
    - core/drupal
{% endif %}
