{
  "name": "{{ machine }}",
  "description": "{{ description }}",
  "version": "8.1.0",
  "scripts": {
    "build": "gulp",
    "watch": "gulp watch"
  },
  "dependencies": {
    "@fortawesome/fontawesome-free": "^5.8.1",
    "family.scss": "^1.0.8",
    "normalize.css": "^8.0.1"
  },
  "devDependencies": {
    "autoprefixer": "^9.5.1",
    "browser-sync": "^2.26.3",
    "cssnano": "^4.1.10",
    "drupal-breakpoints-scss": "^1.2.0",
    "gulp": "^4.0.0",
    "gulp-load-plugins": "^1.5.0",
    "gulp-postcss": "^8.0.0",
    "gulp-rename": "^1.4.0",
    "gulp-sass": "^4.0.2",
    "gulp-sass-glob": "^1.0.9",
    "gulp-sourcemaps": "^2.6.5",
    "gulp-terser": "^1.2.0"
  }
}
