/**
 * @file
 * Javascript for the {{ name }} theme.
 */

(function (Drupal) {
  'use strict';

  Drupal.behaviors.{{ machine }} = {
    attach: function(context) {
      // Your code here.
    }
  };
})(Drupal);
