<?php

/**
 * @file
 * Theme specific functions.
 */

use Drupal\Core\Form\FormStateInterface;

/**
 * Implements template_preprocess_html().
 *
 * @param array $variables
 */
function {{ machine }}_preprocess_html(array &$variables) {
  if (!empty($variables['page']['sidebar_first'])) {
    $sidebar_left = $variables['page']['sidebar_first'];
  }

  if (!empty($variables['page']['sidebar_second'])) {
    $sidebar_right = $variables['page']['sidebar_second'];
  }

  if (!empty($sidebar_left) && !empty($sidebar_right)) {
    $variables['attributes']['class'][] = 'two-sidebars';
  }
  elseif (empty($sidebar_left) && !empty($sidebar_right)) {
    $variables['attributes']['class'][] = 'one-sidebar';
    $variables['attributes']['class'][] = 'sidebar-second';
  }
  elseif (!empty($sidebar_left) && empty($sidebar_right)) {
    $variables['attributes']['class'][] = 'one-sidebar';
    $variables['attributes']['class'][] = 'sidebar-first';
  }
  else {
    $variables['attributes']['class'][] = 'no-sidebars';
  }
}

/**
 * Implements hook_theme_suggestions_HOOK_alter().
 */
function {{ machine }}_theme_suggestions_region_alter(array &$suggestions, array $variables) {
  $sidebar_regions = [
    'sidebar_first',
    'sidebar_second',
  ];

  if (in_array($variables['elements']['#region'], $sidebar_regions)) {
    array_unshift($suggestions, 'region__sidebar');
  }
}

/**
 * Implements hook_form_BASE_FORM_ID_alter().
 */
function {{ machine }}_form_node_form_alter(&$form, FormStateInterface $form_state) {
  $form['#theme'] = ['node_edit_form'];
}
