/**
 * @file
 * Preview for the {{ name }} theme.
 */

(function ($, Drupal, drupalSettings) {
  'use strict';

  Drupal.color = {
    callback: function (context, settings, $form) {
      var $colorPreview = $form.find('.color-preview');
      var $colorPalette = $form.find('.js-color-palette');

      // Text colors.
      $colorPreview.find('.color-preview-text')
        .css('color', $colorPalette.find('input[name="palette[text]"]').val());
      $colorPreview.find('.color-preview-text h2')
        .css('color', $colorPalette.find('input[name="palette[secondary]"]').val());
      $colorPreview.find('.color-preview-text a')
        .css('color', $colorPalette.find('input[name="palette[link]"]').val());

      // Default button.
      $colorPreview.find('.color-preview-button')
        .css('border-color', $colorPalette.find('input[name="palette[primary]"]').val())
        .css('color', $colorPalette.find('input[name="palette[primary]"]').val());
      $colorPreview.find('.color-preview-button').hover(
        function() {
          $(this)
            .css('background', $colorPalette.find('input[name="palette[primary]"]').val())
            .css('color', '#ffffff');
        },
        function() {
          $(this)
            .css('background', 'none')
            .css('color', $colorPalette.find('input[name="palette[primary]"]').val());
        }
      );

      // Primary button.
      $colorPreview.find('.color-preview-button.primary')
        .css('background', $colorPalette.find('input[name="palette[primary]"]').val())
        .css('color', '#ffffff');
      $colorPreview.find('.color-preview-button.primary').hover(
        function() {
          $(this)
            .css('background', $colorPalette.find('input[name="palette[primary]"]').val())
            .css('color', '#ffffff');
        },
        function() {
          $(this)
            .css('background', $colorPalette.find('input[name="palette[primary]"]').val())
            .css('color', '#ffffff');
        }
      );

      // Seconday button.
      $colorPreview.find('.color-preview-button.secondary')
        .css('border-color', $colorPalette.find('input[name="palette[secondary]"]').val())
        .css('color', $colorPalette.find('input[name="palette[secondary]"]').val());
      $colorPreview.find('.color-preview-button.secondary').hover(
        function() {
          $(this)
            .css('background', $colorPalette.find('input[name="palette[secondary]"]').val())
            .css('color', '#ffffff');
        },
        function() {
          $(this)
            .css('background', 'none')
            .css('color', $colorPalette.find('input[name="palette[secondary]"]').val());
        }
      );
    }
  };
})(jQuery, Drupal, drupalSettings);
