<div class="color-preview">
  <div class="color-preview-text">
    <h2>Lorem ipsum dolor</h2>
    <p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p>
  </div>

  <div class="color-preview-buttons">
    <a class="color-preview-button">Button</a>
    <a class="color-preview-button primary">Primary</a>
    <a class="color-preview-button secondary">Secondary</a>
  </div>
</div>
